<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') %>
<body>
    <section class="text-center p-5">
        <h3 class="display-3">Hello world</h3>
        <a name="" id="" class="btn btn-success btn-lg" href="/add-product" role="button">เพิ่มข้อมูล</a>
        <a name="" id="" class="btn btn-success btn-lg" href="/product" role="button">ดูสินค้า</a>
        <a name="" id="" class="btn btn-success btn-lg" href="/show-product-search" role="button">ดูสินค้า และ ค้นหา</a>
        <a name="" id="" class="btn btn-success btn-lg" href="/edit-product" role="button">แก้ใขข้อมูล</a>
    </section>
</body>
</html>